.myModal{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
    background: rgba(27, 19, 34, 0.801);
    z-index: 1000;
}
.myModalContent{
    padding: 25px;
    background: linear-gradient(rgb(137, 121, 145),rgb(94, 94, 94));
    border-radius: 5px;
    max-width: 400px;
    min-width: 300px;
    color: rgba(15, 10, 24, 0.904);
    font-family: 'Yanone Kaffeesatz', sans-serif;
    letter-spacing: 3px;
}
.myModal.active {
    display: flex;
    justify-content: center;
    align-items: center;
}

