.select{
    /* -webkit-appearance: initial; */
    /* display: flex; */
    width: auto;
    background-color: rgb(39, 39, 43);
    border-radius: 10px;
    border: 1px solid rgba(245, 222, 179, 0.24);
    margin: 5px;
    outline: none;
    color: rgb(221, 220, 220);
    font-size: 14px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    padding: 5px;
}

.select:hover{
    border: 1px solid rgba(123, 101, 138, 0.24);
}

@media all and (max-width: 500px) {
    .select{
        font-weight: 500;
        
        width: 90%;
    }
}





